.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #f6f4f0;
  color: #000000;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;

  position: sticky;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Nav links layout */
.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-center .nav-links li {
  margin: 0 1rem;
}

.navbar-center .nav-links a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  padding: 20px 32px;
}

.navbar-center .nav-links a:hover {
  color: #4a951c;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}


.navbar-right {
  margin-right: 1rem;
}
.navbar-loggedout {
  display: flex;
  align-items: center;
}

.navbar-loggedout .signup-btn {
  background-color: #000000;
  color: #f6f4f0;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.navbar-loggedout .login-btn {
  margin-left: 15px;
  background-color: #000000;
  color: #f6f4f0;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.navbar-loggedout .login-btn:hover,
.navbar-loggedout .signup-btn:hover {
  color: #4a951c;
}