.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns label and input to the left */
  gap: 8px; /* Space between the label and the text box */
}

.form-group label {
  font-weight: bold;
  font-size: 14px;
  color: #4b4f56;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  box-sizing: border-box; /* Crucial: ensures padding doesn't break the width */
}

.password-container {
  display: flex;
  width: 100%;
  position: relative;
}

.togglePassword {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 7.5px;
}

.password-container input {
  width: 100%;
}
